parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset 'auth' on Illuminate\\\\Contracts\\\\Foundation\\\\Application\\.$#"
			count: 1
			path: app/Providers/AuthServiceProvider.php

		-
			message: "#^Call to an undefined static method App\\\\User\\:\\:where\\(\\)\\.$#"
			count: 1
			path: app/Providers/AuthServiceProvider.php

