parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method App\\\\Models\\\\User\\:\\:where\\(\\)\\.$#"
			count: 1
			path: app/Providers/AuthServiceProvider.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\DB\\:\\:disconnect\\(\\).$#"
			count: 1
			path: tests/TestCase.php
